.basket {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
  background: linear-gradient(
    to top,
    red,
    gold,
    green,
    aqua,
    goldenrod,
    yellowgreen,
    blue
  );
  padding-top: 115px;
}
.basket .basketBtn {
  border: none;
  padding: 5px 50px;
}

.basket .basketImg {
  max-width: 100%;
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.basket .basketTitle {
  color: white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px black;
  padding: 20px 0;
}
