.products .rowGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 10px;
  background:linear-gradient(black,gold,grey,blue,aqua,pink,white,red);
  padding: 10px;
  padding-top: 120px;
}

.products .productsTitle {
  color: grey;
  font-size: 50px;
  text-align: center;
  margin: 10px 0;
  text-shadow: 1px 1px 1px black;
}
